@page "/home/{id}"
@inject NavigationManager nav;
@rendermode InteractiveServer
@using Utils;

<PageTitle>Главная</PageTitle>

<h1>Hello, world!</h1>

@{ CheckLogin();}


@code {
	[Parameter]
	public string id { get; set; } = "";
	private async void CheckLogin()
	{
		try
		{
			if (!Database.CheckSession(int.Parse(Encryptor.Decrypt(id))))
			{
				nav.NavigateTo("/", true, true);
			}
		}
		catch
		{
			nav.NavigateTo("/", true, true);
		}
	}
}

