@page "/workers"
@using Utils;
@using Microsoft.EntityFrameworkCore;
@inject NavigationManager nav;
@inject ICookie cookie;
@rendermode InteractiveServer

<PageTitle>Сотрудники</PageTitle>

<LayoutView Layout="typeof(Views.Header)"></LayoutView>

<div class="main-container">
	<div class="container">
		<h1 style="display: flex; justify-content: center; width: 100%;">Сотрудники</h1>
	</div>
	<div class="container">
		<h3 style="text-align: center">Скоро будет реализовано.</h3>
	</div>
</div>

@code {
}

